---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Contact from '../components/Contact.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel Pereira</title>
	</head>

	<body>
		<div class="min-h-screen bg-background">
		  <Header />
		  <main class="container mx-auto px-4 sm:px-6 lg:px-8">
			<!-- Your main content here -->
			 <Hero />
			 <About />
			 <Skills />
			 <Experience />
			 <Contact />
		  </main>
		  <Footer />
		</div>
	  </body>
</html>
